# Ignore the virtual environment
venv/
.env

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.tmp
*.swp

# Ignore dependency files (they can be installed via req.txt)
pip-log.txt
pip-delete-this-directory.txt

# Ignore dataset and model files
transaction.csv
model/

# Ignore system-specific files
.DS_Store
Thumbs.db
